<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button mat-flat-button (click)="openDialog()">Добавить товар</button>
  </mat-toolbar-row>
</mat-toolbar>
<!--  -->
<div class="container">
  <!--  -->
  <mat-card ngClass="example-card" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>

      <img mat-card-image class="image" src="{{ product.image }}" />
    </mat-card-header>
    <mat-card-content>
      <p>Price: {{ product.price | currency }}</p>
      <p>Year: {{ product.year }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">В корзину</button>
      <button
        class="button"
        mat-flat-button
        color="primary"
        [routerLink]="['/product', product.id]"
      >
        Подробнее
      </button>
      <!--  -->
      <button
        class="button"
        mat-flat-button
        color="primary"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        Ред.
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteItem(product.id)">удалить</button>
        <button mat-menu-item (click)="openDialog(product)">изменить</button>
      </mat-menu>
      <!--  -->
    </mat-card-actions>
  </mat-card>
  <!--  -->
</div>
