<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select">
      <mat-icon routerLink="" style="margin-right: 5px;">home</mat-icon>
      <span>Online Shop</span>
    </div>

    <span class="example-spacer"></span>

    <div class="toolbar no-select">
      <button class="toolbar button" routerLink="base" mat-flat-button>Главная</button>
      <button class="toolbar button" routerLink="products" mat-flat-button>Товары</button>
      <button class="toolbar button" routerLink="bascket" mat-flat-button>Корзина</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
